.header-container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  z-index: 1111;
  background-color: #212121;
  color: #FFD700;
}
.header-back{
  position: absolute;
  top: 10px;
}
.header-title{
  text-align: center;
  font-size: 18px;
  margin-top: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}